body {
  height: 100vh;
  background:rgb(0,0,125);
  transition:background 5s;
}

#scramble {
  border:none;
  background-color:teal;
  color:white;
  padding:10px;
  z-index:99999;
}

div {
  z-index:-1;
}
